<div class="collections-page">
  <h2>All Collections</h2>

  <ul>
    <% collections.forEach(col => { %>
    <li>
      <a href="../collections/<%= col.user_id %>/<%= col.id %>">
        <%= col.title %>
      </a>
      (<%= col.story_count || 0 %> stories)
    </li>
    <% }) %>
  </ul>
</div>